doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Dashboard
    link(rel="shortcut icon", href="src/assets/main_icon.png", type="image/x-icon")
    link(rel="stylesheet", href="/src/styles/main.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap' rel='stylesheet')

    link(href="https://iconsax.gitlab.io/i/icons.css", rel="stylesheet")

  body
    include navigation.pug
    include main_content.pug

  script(src="./src/scripts/main.js")
