#wrapper
  .header
    i.iconsax.hamburger(icon-name="hamburger-menu", onclick="toggleMenu()")
    h3#greetings

  #product_container
    .heading_container
      div
        h3.product_heading All Customers
        p.toggle_active Active members
      div.search-container
        i.iconsax.search_icon(icon-name="search-normal-2")
        input.search-input(type="text", placeholder="Search")

    #table-container

    .info-nav
      p#data-info

      div#navigation
