aside
  #main_logo
    img(src="/src/assets/main_icon.png", alt="img_logo")
    h1 Dashboard
    p v.01

  #menu_block
    ul#aside-list
      li.aside-item
        i.iconsax(icon-name="key-square")
        | Dashboard
      li.aside-item
        i.iconsax(icon-name="box-square")
        | Product
        i.iconsax.arrow(icon-name="chevron-right")
      li.aside-item
        i.iconsax(icon-name="user-1-square")
        | Customers
        i.iconsax.arrow(icon-name="chevron-right")
      li.aside-item
        i.iconsax(icon-name="wallet-money")
        | Income
        i.iconsax.arrow(icon-name="chevron-right")
      li.aside-item
        i.iconsax(icon-name="discount-badge")
        | Promote
        i.iconsax.arrow(icon-name="chevron-right")
      li.aside-item
        i.iconsax(icon-name="question-message")
        | Help
        i.iconsax.arrow(icon-name="chevron-right")

  .user_account
    img(src="/src/assets/avatar_icon.png", alt="avatar_icon", width="42px")
    #account_info
      h3#account_name Evano
      p.user_position Project Manager
